# macOS
.DS_Store

website_code_export.txt
/FTR-Wedding-Search-v2-Campaign-FINAL.csv
/FTR-Wedding-Search-v2-Campaign-readable.csv
/FTR-Wedding-Search-v2-Campaign.csv
/TRACKING_SETUP.md
FTR-Wedding-v3-import-alt.csv
FTR-Wedding-v3-import.csv
FTR-Wedding-v5-import.csv
ads_export.json
generate_logo_base64.py
google_ads_export.json
mwegter95@gmail.com++FTR-Wedding-v4+4_Ad groups+2026-03-04.csv
mwegter95@gmail.com++Minnesota Wedding DJ Mar 5+1_Asset groups+2026-03-05.csv
mwegter95@gmail.com+2026-03-02.csv
parse_ads.py