.section {
  background: #f8f9fa; /* Light background color for contrast */
  padding: 100px 20px; /* Adjust padding as needed */
  min-height: 100vh;

  h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}
