.app-container {
  background-image: url('../images/djing_wedding_rings_image.jpeg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
