.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  text-align: center;
  padding: 2rem;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: -30px; /* Negative margin to fill out the curve of the navbar */
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/djing_wedding_rings_image.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    z-index: -1; /* Ensure the background is behind the content */
  }

  .hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 10px;
    width: 80%; /* Adjust the width as needed */
    max-width: 1200px;
    margin-top: 20px; /* Adjust this to set the desired space between the navbar and hero content */
  }

  .hero-button {
    background: #f8e71c;
    color: #000;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background: #fff;
      color: #141e30;
    }
  }
}

.cards-container {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .info-card {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure content is spaced out */
    height: 100%;
    flex: 1 0 30%; /* Adjust this to set the width of each card */
    margin: 0 1rem; /* Add space between cards */

    .card-photo {
      position: relative;
      height: 200px;
      overflow: hidden;
      border-radius: 10px 10px 0 0;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }

      &.portrait img {
        position: relative;
        top: -50px;
        transform: scale(1.0); /* Zoom out by 20% */
      }

      &.bouquet img {
        position: relative;
        top: -20px;
        transform: scale(1.0); /* Zoom out by 20% */
      }

      &.dj-decks img {
        height: 100%;
        width: auto;
        transform: translateX(-20%) scale(.9); /* Move the image to the left by 20% and zoom in by 10% */
      }
    }

    .btn-primary {
      background-color: white;
      color: #007bff;
      border: 1px solid #007bff;
      &:hover {
        background-color: #007bff;
        color: white;
      }
    }
  }
}
